[SETTINGS]
infile = testing.sbf
logging = ERROR
cleanup = True
depts = teqc,runpkr00,gunzip,ls
# table = tbl.json
working_dir = $PWD
json_dir = ./json
temp_folder = Intermediate_Data
output_file = tmp.obs


[SUPPORTED]
T00 = TRIMBLE
T02 = TRIMBLE
dat = TRIMBLEDAT
tgd = TRIMBLEDAT
m00 = LEICA_MDB
YY_ = SEPTENTRIO

[SEPTENTRIO]
steps = teqc_all
arguments =  +L2C_L2|+all,-L2C_L2|-L2C_L2|+meta|-G,+R,-E,-S,-C,-J,-SA_G1|-G +R -E -S -C -J +SA_G2|-G +R -E -S -C -J -SA_G2|+all

[TRIMBLEDAT]
steps = teqc_all
arguments = +all,-L2C_L2|+meta|+R,-E,-S,-C,-J,-SA_G1|+R -E -S -C -J +SA_G1|+R -E -S -C -J +SA_G2|+R -E -S -C -J -SA_G2|-O.obs d2|-O.obs d1|-O.obs d5|-O.obs d7|+L5|+all

[LEICA_MDB]
steps = teqc_all
arguments = +all,-L2C_L2|+meta|+R,-E,-S,-C,-J,-SA_G1|+R -E -S -C -J +SA_G1|+R -E -S -C -J +SA_G2|+R -E -S -C -J -SA_G2|-O.obs d2|-O.obs d1|-O.obs d5|-O.obs d7|+L5|+all

[TRIMBLE]
steps = teqc_all
arguments = +all,-L2C_L2|+meta|+R,-E,-S,-C,-J,-SA_G1|+R -E -S -C -J +SA_G1|+R -E -S -C -J +SA_G2|+R -E -S -C -J -SA_G2|-O.obs d2|-O.obs d1|-O.obs d5|-O.obs d7|+L5|+all

[TURBOBINARY]
steps = teqc_all
arguments =  +L2C_L2|+all,-L2C_L2|-L2C_L2

[CONANBINARY]
steps =teqc_all
arguments =  +L2C_L2|+all,-L2C_L2|-L2C_L2

[ASHTECH]
steps = teqc_all
arguments =  +all,+L2C_L2,-L2C_L2

[SIGNALS]
sv_systems = g,r,e,c
# sv_systems = g,r,s,e,c,j,i
#G = C1C,D1C,L1C,S1C,C1W,S1W,C2W,D2W,L2W,S2W,C2X,L2X,S2X,C2L,L2L,S2L,C5Q,L5Q,S5Q,C1L,L1L,S1L
G = C1C,C1L,C1W,C1X,C2W,C2X,C5Q,D1C,D1X,D2C,D2W,L1C,L1X,L2C,L2W,L2X,S1C,S1W,S2C,S2W,S2X,C2L,L2L,S2L,C1L,L1L,S1L,C5X,D5X,L5X,S5X
E = C1C,D1C,L1C,S1C,C6C,L6C,S6C,C5Q,L5Q,S5Q,C7Q,L7Q,S7Q,C8Q,L8Q,S8Q
S = C1C,L1C,S1C,C5I,L5I,S5I
R = C1C,C1P,C2C,C2P,D1C,D2C,L1C,L1P,L2C,L2P,S1C,S1P,S2C,S2P,C3Q,L3Q,S3Q,D3Q
C = C1P,L1P,S1P,C5P,L5P,S5P,C2I,D2I,L2I,S2I,C7I,L7I,S7I,C6I,L6I,S6I
J = C1C,L1C,S1C,C2L,L2L,S2L,C5Q,L5Q,S5Q,C1L,L1L,S1L,C1Z,L1Z,S1Z
I = C5A,L5A,SA
